{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
    <h1>Affichage des annonces</h1>

    <p> 
      <ul>

         <li>{{ advert.title }}</li>
         <li>{{ advert.author }}</li>
         <li>{{ advert.content }}</li>    
          <img
             src="{{ asset(advert.image.webPath) }}"
             alt="{{ advert.image.alt }}"
          />
      </ul>

    <p>



    </p>

  </body>
</html>