{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
    <h1>Affichage d'une annonce</h1>

    <p>
      {{ advert.id }} / {{ advert.title }}
      {{ advert.content }}
      {{ advert.author }}
    <p>

      {% if advert.image is not null %}
      <img src="{{ advert.image.url }}" alt="{{ advert.image.alt }}">
      {% endif %}

    </p>

  </body>
</html>