{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
  </head>
  <body>
    <h1>Affichage des annonces</h1>

    <p> 
      <ul>

         <li>{{ advert.title }}</li>
         <li>{{ advert.author }}</li>
         <li>{{ advert.content }}</li>

         {% if advert.image != null %}
  
          localhost:8888{{ app.request.basepath }}/{{ advert.image.webPath }}

         <img src="localhost:8888/{{ app.request.basepath }}/{{ asset(advert.image.webPath) }}" alt="{{ advert.image.alt }}"/>
          {% endif %}

      </ul>

    <p>



    </p>

  </body>
</html>